{% extends 'base.html' %}

{% block title %} {{ cafe.name }} {% endblock %}

{% block content %}

<div class="row justify-content-center">

  <div class="col-10 col-sm-8 col-md-4 col-lg-3">
    <img class="img-fluid mb-5" src="{{ cafe.image_url }}">
  </div>

  <div class="col-12 col-sm-10 col-md-8">

    <h1>{{ cafe.name }}</h1>

    {% if cafe not in g.user.liked_cafes %}
    <a id="toggle-like-btn" data-cafe-id="{{ cafe.id }}" 
    class="btn btn-outline-primary" href="FOR-AJAX">Not Liked</a>
    {% else %}
    <a id="toggle-like-btn" data-cafe-id="{{ cafe.id }}" 
    class="btn btn-outline-primary" href="FOR-AJAX">Liked</a>
    {% endif %}

    <p class="lead">{{ cafe.description }}</p>

    <p><a href="{{ cafe.url }}">{{ cafe.url }}</a></p>

    <p>
      {{ cafe.address }}<br>
      {{ cafe.get_city_state() }}<br>
    </p>

    <p>
      <a class="btn btn-outline-primary" href="/cafes/{{ cafe.id }}/edit">
        Edit Cafe
      </a>
    </p>
    <iframe width="450" height="250" frameborder="0" style="border:0" 
    referrerpolicy="no-referrer-when-downgrade"
      src="{{ cafe.get_map_url() }}" 
      allowfullscreen>
    </iframe>
  </div>
</div>
{% endblock %}