{% extends 'base.html' %}

{% block title %} {{ cafe.name }} {% endblock %}

{% block content %}

<div class="row justify-content-center">
  <!-- Cafe Image -->
  <div class="col-10 col-sm-8 col-md-4 col-lg-3">
    <img class="img-fluid mb-5" src="{{ cafe.image_url }}">
  </div>
  <!-- Cafe Details -->
  <div id="cafe-details" class="col-12 col-sm-10 col-md-8">
    <div class=" mb-3 d-flex w-100 align-items-center justify-content-between">
      <!-- Cafe Name -->
      <h1 class="m-0">{{ cafe.name }}</h1>
      <!-- Anon Like Button -->
      {% if not g.user %}
      <a data-cafe-id="{{ cafe.id }}" class="btn btn-secondary bi bi-heart" data-bs-toggle="tooltip"
        data-bs-placement="right" data-bs-original-title="Signup or login to like!" href="{{ url_for('login') }}"
        aria-label="Like"> Like</a>
      {% endif %}
      <!-- User Like Button -->
      {% if g.user %}
        {% if cafe not in g.user.liked_cafes %}
        <a data-cafe-id="{{ cafe.id }}" class="toggle-like-btn btn btn-outline-primary" href="FOR-AJAX"
          aria-label="Like"><i class="bi bi-heart"></i> Like</a>
        {% else %}
        <a data-cafe-id="{{ cafe.id }}" class="toggle-like-btn btn btn-outline-primary" href="FOR-AJAX"
          aria-label="Unlike"><i class="bi bi-heart-fill"></i></a>
        {% endif %}
      {% endif %}
    </div>
    <!-- Description -->
    <p class="lead">{{ cafe.description }}</p>
    <!-- URL -->
    <p><a href="{{ cafe.url }}">{{ cafe.url }}</a></p>
    <!-- Address -->
    <p>
      {{ cafe.address }}<br>
      {{ cafe.get_city_state() }}<br>
    </p>

    <!-- Specialties -->
    {% if specialties %}
    <ul id="cafe-specialties" class="list-group mb-2">
      <li class="list-group-item list-group-item-action d-flex w-100 align-items-center justify-content-between active">
        <h3 class="my-1">Cafe Specialties</h2>
        <!-- Add Specialty -->
        {% if g.user.admin %}
        <a class="btn btn-outline-light" href="/cafes/{{ cafe.id }}/specialties">
        Add </a>
        {% endif %}
      </li>

      {% for s in specialties %}
      <li class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">{{ s.name }}</h5>
        </div>

        {% if s.description %}
        <div class="d-flex w-100 justify-content-between">
          <p class="mb-1">{{ s.description }}</p>

          {% if s.image_url %}
          <img class="rounded float-end" style="width: 5em" src="{{ s.image_url }}" alt="{{ s.name }}">
          {% endif %}

        </div>
        {% endif %}
      </li>
      {% endfor %}

    </ul>
    {% endif %}

    <!-- Map -->
    <iframe width="450" height="250" frameborder="0" style="border:0" referrerpolicy="no-referrer-when-downgrade"
      src="{{ cafe.get_map_url() }}" allowfullscreen>
    </iframe>

    <!-- Edit/Delete -->
    {% if g.user.admin %}
    <p>
      <a class="btn btn-outline-primary" href="/cafes/{{ cafe.id }}/edit">
        Edit Cafe
      </a>
      <a class="btn btn-outline-danger" href="/cafes/{{ cafe.id }}/delete">
        Delete Cafe
      </a>
    </p>
    {% endif %}


  </div>
</div>
{% endblock %}