@import "../node_modules/bootstrap/scss/functions";

//VARIABLE OVERRIDES

//Color System
$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #eee !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #aaa !default;
$gray-600: #777 !default;
$gray-700: #495057 !default;
$gray-800: #333 !default;
$gray-900: #222 !default;
$black:    #000 !default;

$blue:    #1966ec !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     #f54500 !default;
$orange:  #fd7e14 !default;
$yellow:  #f5e625 !default;
$green:   #22b24c !default;
$teal:    #20c997 !default;
$cyan:    #369 !default;

$primary:       #3DAFB7;
$secondary:     $gray-500 !default;
$success:       $green !default;
$info:          $cyan !default;
$warning:       $yellow !default;
$danger:        $red !default;
$light:         $gray-100 !default;
$dark:          $gray-900 !default;

//Fonts
$web-font-path: "https://fonts.googleapis.com/css2?family=Londrina+Solid&family=Noto+Sans:wght@400;700&display=swap";
@if $web-font-path {
  @import url($web-font-path);
}

$headings-display-font-family: 'Londrina Solid', 'Noto Sans', sans-serif;
$headings-font-family: "Noto Sans", "Arial Narrow Bold", sans-serif;

@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/variables-dark";

//Links
// $link-color:                              $primary;
$link-decoration:                         none;
// $link-shade-percentage:                   20%;
// $link-hover-color:                        shift-color($link-color, $link-shade-percentage);
$link-hover-decoration:                   underline;

$btn-shade-percentage:                    20%;


//Bootswatch + Bootstrap Imports
// @import "../node_modules/bootswatch/dist/journal/variables";
// @import "../node_modules/bootstrap/scss/bootstrap";
// @import "../node_modules/bootswatch/dist/journal/bootswatch";

//Individual Bootstrap Imports
@import "../node_modules/bootstrap/scss/maps";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/utilities";
@import "../node_modules/bootstrap/scss/root";
@import "../node_modules/bootstrap/scss/reboot";

@import "../node_modules/bootstrap/scss/type";
@import "../node_modules/bootstrap/scss/images";
@import "../node_modules/bootstrap/scss/containers";
@import "../node_modules/bootstrap/scss/grid";
// @import "../node_modules/bootstrap/scss/tables";
// @import "../node_modules/bootstrap/scss/forms";
@import "../node_modules/bootstrap/scss/buttons";
@import "../node_modules/bootstrap/scss/transitions";
@import "../node_modules/bootstrap/scss/dropdown";
// @import "../node_modules/bootstrap/scss/button-group";
@import "../node_modules/bootstrap/scss/nav";
@import "../node_modules/bootstrap/scss/navbar"; // Requires nav
// @import "../node_modules/bootstrap/scss/card";
// @import "../node_modules/bootstrap/scss/breadcrumb";
// @import "../node_modules/bootstrap/scss/accordion";
// @import "../node_modules/bootstrap/scss/pagination";
// @import "../node_modules/bootstrap/scss/badge";
// @import "../node_modules/bootstrap/scss/alert";
// @import "../node_modules/bootstrap/scss/progress";
@import "../node_modules/bootstrap/scss/list-group";
@import "../node_modules/bootstrap/scss/close";
// @import "../node_modules/bootstrap/scss/toasts";
@import "../node_modules/bootstrap/scss/modal"; // Requires transitions
@import "../node_modules/bootstrap/scss/tooltip";
@import "../node_modules/bootstrap/scss/popover";
// @import "../node_modules/bootstrap/scss/carousel";
// @import "../node_modules/bootstrap/scss/spinners";
@import "../node_modules/bootstrap/scss/offcanvas"; // Requires transitions
// @import "../node_modules/bootstrap/scss/placeholders";

// Helpers
// @import "../node_modules/bootstrap/scss/helpers";

// Utilities
@import "../node_modules/bootstrap/scss/utilities/api";


//CUSTOM STYLES

//Utils
.btn:hover {
  color: $white;
}

.btn-primary {
  color: $white;
}

.btn-primary:hover {
  background-color: shift-color($primary, $btn-shade-percentage);
  border-color: shift-color($primary, $btn-shade-percentage);
}

.toggle-like-btn .bi-heart-fill, 
.toggle-like-btn .bi-heart {
  color: $pink;
}

.btn:active {
  color: $red;
  background-color: $green;
}

//Typography
h1 {
  font-family: $headings-display-font-family;
  color: $primary;
}

//Navbar
.navbar {
  padding-inline: 1rem;

  .navbar-brand {
    padding: 0; 
    font-family: $headings-display-font-family;
    font-size: 2rem;
  }

  .navbar-toggler {
    border: none;
    padding-inline: 4px;
  }
}

//Homepage
.homepage {
  .hero-text {
    background-color: rgba(0, 0, 0, 0.4);
  }
  
  .hero-text h1,
  .hero-text p {
    color: white;
    letter-spacing: 0.05em
  }
  
  .display-1 {
    font-family: 'Londrina Solid', 'Noto Sans', sans-serif;
  }
}

//Cafe List

.card-title a {
  text-decoration: none;
  font-weight: bold;
}

.card-title a:hover {
  color: $link-hover-color;
  text-decoration: $link-hover-decoration;
}

.card-subtitle {
  font-style: italic;
}

//Cafe Detail
//TODO: move like button to be inline with h1 
//TODO: hot chocolate should be different color

