@import "../node_modules/bootstrap/scss/functions";

//VARIABLE OVERRIDES

//Color System
$gray-500: #adb5bd !default;

$primary:       #3DAFB7;
$secondary:       $gray-500;

//Fonts
$web-font-path: "https://fonts.googleapis.com/css2?family=Londrina+Solid&family=Noto+Sans:wght@400;700&display=swap";
@if $web-font-path {
  @import url($web-font-path);
}

$headings-display-font-family: 'Londrina Solid', 'Noto Sans', sans-serif;
$headings-font-family: "Noto Sans", "Arial Narrow Bold", sans-serif;

//Links
// $link-color:                              $primary;
$link-decoration:                         none;
// $link-shade-percentage:                   20%;
// $link-hover-color:                        shift-color($link-color, $link-shade-percentage);
$link-hover-decoration:                   underline;

$btn-shade-percentage:                    20%;


//Bootswatch + Bootstrap Imports
// @import "../node_modules/bootswatch/dist/journal/variables";
// @import "../node_modules/bootstrap/scss/bootstrap";
// @import "../node_modules/bootswatch/dist/journal/bootswatch";

//Individual Bootstrap Imports
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/variables-dark";
@import "../node_modules/bootstrap/scss/maps";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/utilities";
@import "../node_modules/bootstrap/scss/root";
@import "../node_modules/bootstrap/scss/reboot";

@import "../node_modules/bootstrap/scss/type";
@import "../node_modules/bootstrap/scss/images";
@import "../node_modules/bootstrap/scss/containers";
@import "../node_modules/bootstrap/scss/grid";
// @import "../node_modules/bootstrap/scss/tables";
@import "../node_modules/bootstrap/scss/forms";
@import "../node_modules/bootstrap/scss/buttons";
@import "../node_modules/bootstrap/scss/transitions";
@import "../node_modules/bootstrap/scss/dropdown";
// @import "../node_modules/bootstrap/scss/button-group";
@import "../node_modules/bootstrap/scss/nav";
@import "../node_modules/bootstrap/scss/navbar"; // Requires nav
@import "../node_modules/bootstrap/scss/card";
// @import "../node_modules/bootstrap/scss/breadcrumb";
// @import "../node_modules/bootstrap/scss/accordion";
// @import "../node_modules/bootstrap/scss/pagination";
// @import "../node_modules/bootstrap/scss/badge";
@import "../node_modules/bootstrap/scss/alert";
// @import "../node_modules/bootstrap/scss/progress";
@import "../node_modules/bootstrap/scss/list-group";
@import "../node_modules/bootstrap/scss/close";
// @import "../node_modules/bootstrap/scss/toasts";
@import "../node_modules/bootstrap/scss/modal"; // Requires transitions
@import "../node_modules/bootstrap/scss/tooltip";
@import "../node_modules/bootstrap/scss/popover";
// @import "../node_modules/bootstrap/scss/carousel";
// @import "../node_modules/bootstrap/scss/spinners";
@import "../node_modules/bootstrap/scss/offcanvas"; // Requires transitions
// @import "../node_modules/bootstrap/scss/placeholders";

// Helpers
// @import "../node_modules/bootstrap/scss/helpers";

// Utilities
@import "../node_modules/bootstrap/scss/utilities/api";


//CUSTOM STYLES

//Utils

//Pattern matched to lines 121-152 from ~bootstrap/scss/buttons
@each $color, $value in $theme-colors {
  .btn-outline-#{$color}:hover {
    @if $color == "light" {
      color: $primary;
    } @else {
      color: $white;
    }
  }

  // Something in @import "../node_modules/bootstrap/scss/buttons" has higher
  //specificity than just .btn:active, so need to use 2 classes
  .btn.btn-outline-#{$color}:active {
    @if $color == "light" {
      color: $primary;
    } @else {
      color: $white;
    }
    background-color: shift-color($value, $btn-shade-percentage);
  }

  .btn-#{$color} {
    color: $white; 
  }

  .btn-#{$color}:hover {
    color: $white;
    background-color: shift-color($value, $btn-shade-percentage);
    border-color: shift-color($value, $btn-shade-percentage);
  }

  .btn.btn-#{$color}:active {
    color: $white;
    background-color: shift-color($value, $btn-shade-percentage);
    //On click, the bg color will remain darkened, but border will be light
  }

}

.toggle-like-btn .bi-heart-fill, 
.toggle-like-btn .bi-heart {
  color: $pink;
}


//Typography
h1 {
  font-family: $headings-display-font-family;
  color: $primary;
}

//Navbar
.navbar {
  padding-inline: 1rem;

  .navbar-brand {
    padding: 0; 
    font-family: $headings-display-font-family;
    font-size: 2rem;
  }

  .navbar-toggler {
    border: none;
    padding-inline: 4px;
  }
}

//Homepage
.homepage {
  .hero-text {
    background-color: rgba(0, 0, 0, 0.4);
  }
  
  .hero-text h1,
  .hero-text p {
    color: white;
    letter-spacing: 0.05em
  }
  
  .display-1 {
    font-family: 'Londrina Solid', 'Noto Sans', sans-serif;
  }
}

//Cafe List

.card-title a {
  text-decoration: none;
  font-weight: bold;
}

.card-title a:hover {
  color: $link-hover-color;
  text-decoration: $link-hover-decoration;
}

.card-subtitle {
  font-style: italic;
}

//Cafe Detail
#cafe-specialties {
  h5 {
  color: $primary;
  }
}

